
@charset "UTF-8";
@import "./font.css";


* {  margin: 0; padding: 0; box-sizing: border-box; }
body { line-height: 1.5; width: 1100px; margin: 0 auto; font-family: "NotoSanseKR", "맑은 고딕"; background: #EBEBEB; 
	font-size: 14px; padding: 20px 0; min-height: 100vh; flex-direction: column; justify-content: space-between; }
a { text-decoration: none; color: inherit; }
/* select { cursor: pointer; border-color: lightgray; height: 20px; width: 70px; }
textarea { border-color: lightgray; padding: 0 5px; } */
ul { list-style: none; }
img { vertical-align: middle; }
section, .section { padding: 30px; border-radius: 20px; }
button { border: none; cursor: pointer; background: transparent; }
button:focus-visible { outline: none; }
input { border: 1px solid #D9D9D9; border-radius: 10px; padding: 6px 10px; font-family: "NotoSanseKR", "맑은 고딕"; }
input:focus-visible { outline: none; }
.main { background: #003366; min-height: 780px; }
.wrapper { flex: 1 1 auto; }
.main .wrapper { flex-direction: column; justify-content: center; }

.flex { display: flex; }
.block { display: block; }
.none { display: none; }
.inlineBlock { display: inline-block; }
.shadow { box-shadow: 0 0 20px rgba(0, 0, 0, .25); background: #fff; }
.bold { font-weight: 700; }
.regular { font-weight: 400; }
.relative { position: relative; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }


/* header */
#hd { margin-bottom: 10px; }

#hd .logo { left: 0; top: 50%; transform: translateY(-50%); }
#hd .logo img { height: 90px; width: auto; display: inline-block; }

#hd .mainTitle { padding-left: 2rem; font-size: 32px; display: inline-block; line-height: 90px; }
#hd .mainTitle:before { position: absolute; background: #003366; width: 10px; height: 40px;
	border-radius: 8px; content: ""; left: 0; top: 50%; transform: translateY(-45%); }

#hd .menu { right: 0; top: 50%; transform: translateY(-50%); justify-content: space-between; gap: 10px; }
#hd .menu .alarm.confirmation:after { width: 10px; height: 10px; background: #FF0000; position: absolute;
	right: 3px; top: 1px; content: ""; border-radius: 50%; }
#hd .menu .alarm img { height: 30px; width: auto; display: inline-block; }

#hd .btnMenu { flex-direction: column; justify-content: space-between; padding: 3px 0; transition: 1s; }
#hd .btnMenu p { width: 30px; height: 3px; background: #000; }
.main #hd .btnMenu p { background: #fff; }


/* slideBar */
.sideBar { width: 220px; height: 90vh; right: -250px; box-shadow: 0 0 10px rgba(0, 0, 0, .25); z-index: 3; 
	border-radius: 20px; transition: 1s; }
.sideBar.open { right: 0; }

.sideBar nav { flex-direction: column; justify-content: space-between; height: 100%; overflow: hidden; 
	z-index: 1; }
.sideBar .sideMenu { overflow: auto; border-radius: 20px; background: #fff; flex: 1 1 auto; padding: 5px 10px; }
.sideBar .sideMenu li { border-bottom: 1px solid rgba(0,0,0,.8); box-shadow: 0 1px 1px rgba(0, 0, 0, .25); 
	padding: 10px 20px; }
.sideBar .sideMenu img { width: 32px; height: auto; margin-right: 20px; }
.sideBar .logout img { width: 28px; margin-right: 24px; }
.sideBar .logout { font-size: 12px; }

.sideBar .close { left: 0; top: 50%; background: #fff; border-radius: 50%; transform: translate(-60%,-50%); 
	padding: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, .25); z-index: -1; }
.sideBar .close img { width: 24px; }


/* footer */
#ft { padding: 30px 0 10px; font-size: 12px; color: #999; }
#ft .madeBy { padding: 10px; gap: 10px; border-top: 1px solid #999; }
#ft .copyright { padding: 0 10px; }


/* mainSearch, select2 */
.mainSarch { gap: 15px; justify-content: center; }
.mainSarch .flex { gap: 15px; justify-content:left }
.mainSarch input { width: 500px; }
.mainSarch .flex { margin-bottom: 15px; }
.mainSarch .btn { font-size: 20px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: #1E1E1E;	border-width: 1px 1px 0 0; width: 6px; height: 6px; transform: rotate(135deg);
}
.select2-container--default .select2-results__option--selected { background: #fff; }
.select2-results__option { padding: 10px; font-size: 20px }
.select2 span:focus-visible { outline: none; }
.select2-search.select2-search--dropdown { display: none; }
.mainSarch input, .mainSarch span, .select2-container--default .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
	border-radius: 10px; border: none; font-size: 20px; }
.mainSarch .select2-container .select2-selection--single { padding: 6px; height: 52px; }
.mainSarch .select2-container--default .select2-selection--single .select2-selection__rendered,
.mainSarch input { line-height: 40px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { top: 12px; right: 8px; }
.select2-container--open .select2-dropdown--below { border-radius: 10px; overflow: hidden; border: none; }
.select2-container { height: 53px; }

.search { justify-content: flex-end;  margin-bottom: 20px; gap: 10px; }
.search input { border-radius: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, .25); background: #fff; }

.searchResult { top: 53px; left: 0; background: #fff; padding: 20px; border-radius: 10px; width: 500px; 
	font-size: 20px; line-height: 1.8; }
.searchResult .btn { font-size: 14px; margin-top: 20px; }


/* table */
table { width: 100%; border-collapse: collapse; }





table th, table td { padding: 5px 10px; }

.listTable thead { box-shadow: 0 0 20px rgba(0, 0, 0, .25); border-radius: 15px; }
.listTable thead th { font-weight: 400; padding: 10px 0; font-size: 14px; }
.listTable tbody td { border-bottom: 1px solid #ECD9B0; padding: 8px; }
.listTable th, .listTable td { text-align: center; }
.listTable .title { text-align: left; }

.listTable2 { margin-top: 10px; }
.listTable2 thead { box-shadow: none; border-radius: 0; }
.listTable2 thead th { background: rgba(236,217,176,.8); border: 1px solid #D9D9D9;
	border-top: none; }
.listTable2 thead th:first-of-type { border-left: none; }
.listTable2 thead th:last-of-type { border-right: none; }
.listTable2 tbody td { background: #fff; border: 1px solid #D9D9D9; padding: 10px; }
.listTable2 tbody td:first-of-type { border-left: none; }
.listTable2 tbody td:last-of-type { border-right: none; }
.listTable2~.infoText { color: #757575; margin-top: 5px; margin-bottom: -10px; }


.writeTable input[type="text"], .writeTable textarea { width: 80%; }
.writeTable input[name="writer"] { width: auto; }

.replyTable th, .replyTable td { text-align: center; border-bottom: 1px solid lightgray; }
.replyTable .content  { text-align: left; }


/* button */
.btn { background: #003366; color: white; border-radius: 10px; border: none; padding: 6px 10px;
	cursor: pointer; display: inline-block; vertical-align: middle; }
.btnWhite { background: #fff; color: #000; }

.btnBox { margin-top: 30px; }


/* paging */
.page { margin: 30px 0; }
.page ul { align-items: center; justify-content: center; gap: 3px; }
.page li { width: 22px; height: 22px; cursor: pointer; }
.page .on { background: black; color: white; }

.contentPage ul { gap: 100px; }
.contentPage li { width: auto; height: auto; }


/* detail */
.detailContents { padding: 30px 100px; }
.detailContents .contentTitle { border-radius: 20px; padding: 10px; }
.detailContents .hashtag { padding: 15px 0; font-size: 16px; }
.detailContents .content { padding: 20px; border-radius: 20px; }


/* 본인인증 */
.certification .infoText { margin-bottom: 50px; }
.certification form { font-size: 16px; display: inline-block; margin: 0 auto; }
.certification form p { margin-bottom: 20px; }
.certification form input { margin-top: 5px; border-radius: 10px; }
.certification .phone { margin-right: 10px; width: 50px; }
.certification .phone~input { width: 369px; }


/* 처방받은약 */
.prescription .summary { background: #fff; margin-bottom: 30px; border-top: 2px solid #000; 
	border-bottom: 1px solid #000; }
.prescription .summary li { width: 33.3333%; }
.prescription .summary span { padding: 10px; }
.prescription .summary .title { background: rgba(236,217,176,.8); }
.prescription .summary .text { flex: 1 1 auto; }
.prescription .summary~.listTable2 { border-top: 2px solid #000; margin: 0; }


/* 전체 의약품 조회 */
.medicineAll { flex-wrap: wrap; justify-content: space-between; }
.medicineAll .medicineItem { width: 31%; font-size: 18px; margin-bottom: 3%; }
.medicineAll .medicineItem ul { list-style: circle; padding-left: 20px; }
.medicineAll .title { font-size: 22px; margin-bottom: 20px; }
.medicineAll .btn { font-size: 14px; }


/* 로그인 */
.member { width: 720px; margin: 0 auto; padding: 0 0 30px 0; }
.member .bg { width: 100%; }
.member .title { font-size: 30px; padding: 20px; }
.member form { width: 400px; margin: 0 auto;  }
.member label { font-size: 20px; margin: 10px 0 5px; }
.member input, .member .btn { width: 100%; }
.member .btn { margin-bottom: 10px; font-size: 18px; }

.join #id { width: calc(100% - 95px); }
.join form .flex { justify-content: space-between; }
.join #id~.btn { width: 85px; margin: 0; font-size: 16px; }
