<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recomedi.myapp.persistance.BoardMapper">

	<sql id="search">
		<if test="searchType != null and searchType.equals('title')">
			and title like concat('%',#{title},'%')
		</if>
	</sql>

	<select id="boardSelectAll" parameterType="HashMap"
		resultType="bv">  <!-- HashMap을 받는다 -->
		select * from board where delyn='N'
		<include refid="search" /><!-- 원칙적으로 mybatis에서는 연산을 사용하지 않는다. HashMap으로 
			연산한 결과를 받아서 사용 -->
		order by bidx desc limit #{startPageNum}, #{perPageNum}
	</select>

	<select id="boardTotalCount" parameterType="scri"
		resultType="int">
		select count(*) as cnt from board where delyn='N'
		<include refid="search" />
	</select>

	<select id="boardSelectOne" parameterType="int" resultType="bv">
		select * from board where delyn='N' and bidx=#{bidx}
	</select>

	<update id="boardViewCntUpdate" parameterType="int">
		update board SET
		view = view+1 where bidx=#{bidx}
	</update>

	<insert id="boardInsert" parameterType="bv">
		INSERT INTO board (bidx, title, contents, date, modify, view, ip,
		delyn, midx, boardcode, state)
		VALUES (null, #{title}, #{contents},
		CURRENT_TIMESTAMP, null, 0, #{ip}, 'N',
		#{midx}, #{boardcode},
		#{state})
		<selectKey keyProperty="bidx" resultType="int" order="AFTER">
			select
			max(bidx) as bidx from board
		</selectKey>
	</insert>

	<delete id="boardDelete" parameterType="int">
		DELETE FROM board WHERE
		bidx = #{bidx}
	</delete>

	<update id="boardUpdate" parameterType="bv">
		UPDATE board
		SET title = #{title},
		contents = #{contents}
		WHERE bidx = #{bidx}
		AND midx = #{midx};
	</update>


</mapper>