@charset "UTF-8";

@font-face {
    font-family: 'NotoSanseKR';
    src: url('../font/NotoSansKR-Regular.woff2') format('truetype'),
		url('../font/NotoSansKR-Regular.woff') format('truetype');
	font-weight: 400;
}

@font-face {
    font-family: 'NotoSanseKR';
    src: url('../font/NotoSansKR-Bold.woff2') format('truetype'),
		url('../font/NotoSansKR-Bold.woff') format('truetype');
	font-weight: 700;
}